---
import LayoutMain from "@layouts/LayoutMain.astro";
---

<LayoutMain
title="Crew - Space Tourism"
description="Meet the crew for Space Tourism"
keywords="Space, Tourism, Travel, Exploration, Engineer, Austronaught, Crew, Pilot"
>
<h1>
  <span>02</span>
  MEET YOUR CREW
</h1>
</LayoutMain>