---
import LayoutMain from "@layouts/LayoutMain.astro";
---

<LayoutMain
title="Destination - Space Tourism"
description="Space tourism destinations include The Moon, Mars, Europa and Titan"
keywords="Space, Tourism, Travel, Exploration, Moon, Mars, Europa, Titan"
>
  <h1>
    <span>01</span>
    PICK YOUR DESTINATION
  </h1>
</LayoutMain>