---
import LayoutMain from "@layouts/LayoutMain.astro";
---

<LayoutMain
	title="Home - Space Tourism"
	description="Space tourism is space travel for recreational purposes. There are many different types of space tourism which include lunar, orbital and suborbital"
	keywords="Space, Tourism, Travel, Exploration"
>
	<h1>
		SO, YOU WANT TO TRAVEL TO
		<span>SPACE</span>
	</h1>
</LayoutMain>