---
import LayoutMain from "@layouts/LayoutMain.astro";
---

<LayoutMain
title="Technology - Space Tourism"
description="Learn about the launch vehicle, spaceport and space capsule"
keywords="Space, Tourism, Travel, Exploration, Vehicle, Spaceport, Space Capsule"
>
<h1>
  <span>03</span>
  SPACE LAUNCH 101
</h1>
</LayoutMain>